#IntroduceFranchise {
    display: flex;
    margin: 90px 180px;
    justify-content: space-between;
}

#IntroduceFranchise .introduce-background img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#IntroduceFranchise .introduce-content-wrap {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#IntroduceFranchise .introduce-content-wrap .content-ttl{
    font-size: 2rem;
    font-weight: bold;
}

#IntroduceFranchise .introduce-content-wrap .content-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#IntroduceFranchise .introduce-content-wrap .content-main .cf-strength {
    display: flex;
    align-items: center;
    gap: 10px;
}

#IntroduceFranchise .introduce-content-wrap .content-main .cf-strength img{
    width: 30px;
    height: 30px;
}

#IntroduceFranchise .introduce-content-wrap .content-main .cf-strength .cf-strength-content {
    font-weight: bold;
}