@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: black;
  font-size: 20px;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:hover {
  opacity: 0.8;
}

img {
  object-fit: cover;
}

.ant-form-item-label {
  text-align: start !important;
}

.ant-form-item-required::before {
  display: none !important;
}

.ant-modal button svg {
  margin-bottom: 7px;
}

.ant-modal-title {
  text-transform: uppercase;
  margin-bottom: 15px !important;
}

#avatar-popover .avatar-name-user {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #d1d1d1;
}

#avatar-popover .avatar-name-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 50%;
}

#avatar-popover .avatar-name-user .name-user {
  font-size: 18px;
  font-weight: 400;
}

.modal-cancel-order p {
  text-align: left;
}

.modal-cancel-order button {
  background-color: black;
  color: white;
  font-weight: 400;
  width: 80%;
}

#root {
  min-height: 100vh;
  overflow: hidden;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240103/pngtree-fashionable-denim-blue-jeans-texture-vector-background-of-light-blue-canvas-image_13923113.png');
  background-repeat: repeat;
  /* background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;               */
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}

@media (max-width: 850px) {
  .container {
    margin: 0 ;
    max-width: 100%;
  }
}

/* Ẩn các nút tăng giảm trên Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*radio common*/

.un_radio_wrap {
  padding: 7px;
}

.un_radio_wrap input.un_radio {
  display: none;
}

.un_radio_wrap input.un_radio + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-weight: 600;
}

.un_radio_wrap input.un_radio + label::before {
  content: '';
  border-radius: 50%;
  border-color: #83b5e1;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-width: 3px;
  border-style: solid;
  vertical-align: middle;
}

.un_radio_wrap input.un_radio + label::after {
  content: '';
  border-radius: 50%;
  background-color: #337ab7;
  height: 6px;
  width: 6px;
  left: 10px;
  position: absolute;
  opacity: 0.3;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.25s ease-in-out 0s;
}

.un_radio_wrap input.un_radio + label:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.un_radio_wrap input.un_radio:checked + label {
  color: #337ab7;
  cursor: pointer;
}

.un_radio_wrap input.un_radio:checked + label::before {
  animation: ripple 0.5s linear forwards;
  background-color: #337ab7;
  border-color: #83b5e1;
  transform: scale(1);
}

.un_radio_wrap input.un_radio:disabled + label {
  color: #ebebeb;
  cursor: not-allowed;
}

.un_radio_wrap input.un_radio:disabled + label::before {
  background-color: unset;
  border-color: #ebebeb;
}

.un_radio_wrap input.un_radio:disabled + label::after {
  background-color: unset;
}

